# Welcome to the second notebook!

## Now we get into some serious arithmetic:

In [1]:
234*567

132678

In [2]:
pow(99,11)

8953382542587164451099

This is of course a lot smaller than the previous **pow(11,99)**.

<a href="https://dataplatform.cloud.ibm.com/gallery">IBM Cloud Gallery</a>

# Header 1

## Header 2

### Header 3

#### Header 4

##### Header 5

###### Header 6

normal text looks like this

A simple table:

| header | header |
| ------ | ------ |
|  cell  |  cell  |

A table with 3 columns and 4 rows, that is 3 data columns and 4 data rows **plus** a headers row and a row labels column:

| | header 1 | header 2 | header 3 |
| --- | --- | --- | --- |
| row 1 | | | |
| row 2 | | | |
| row 3 | | | |
| row 4 | | | |